<header class="header">
    <div class="container">
        <div class="header-wrapper">
            <svg class="header-logo logo">
        <use xlink:href="img/sprite.svg#Logo"></use>
            </svg>
            <svg class="header-logo-shadow">
                <use xlink:href="img/sprite.svg#Ellipse7"></use>
                    </svg>
            <ul class="nav nav-header">
                <li class="nav-header__item">
                    <a href="" class="nav-header__link">Каталог</a>
                </li>
                <li class="nav-header__item">
                    <a href="" class="nav-header__link">О нас</a>
                </li>
                <li class="nav-header__item">
                    <a href="" class="nav-header__link">Контакты </a>
                </li>
                <li class="nav-header__item">
                    <a href="" class="nav-header__link">Галлерея</a>
                </li>
            </ul>

            <div class="header-phone">
                <span class="header-phone__ico"> 
                <svg class="header-phone__phone">
                <use xlink:href="img/sprite.svg#phone"></use>
            </svg>
        </span>
                <a href="tel:+79655698998" class="header-phone__link">+7 (965) 569-89-98</a>
            </div>
            <div class="header-cart">
                <button class="header-cart__btn btn-reset">
                <svg class="header-cart__ico">
                    <use xlink:href="img/sprite.svg#cart"></use>
                </svg>
                <span class="header-cart__number">0</span>
            </button>
            </div>
        </div>
    </div>
</header>