<section class="main-section">
    <div class="container">
        <h2 class="section__title">Инструкция по&shy; установке
            <strong>BrightSmile</strong>
        </h2>
    </div>

    <div class="wrapper-secion">

        <div class="banner-section">
            <img src="../img/benner.jpg" alt="banner">
        </div>

        <div class="number-section">
            <ul class="number-section__list">
                <li class="number-section__item">
                    <span class="img__item"><img src="../img/li1.jpg" alt="item-img"></span>
                    <span class="number__item">1</span>
                    <p class="text__item">Поместите виниры в емкость с теплой водой</p>
                </li>
                <li class="number-section__item">
                    <span class="img__item"><img src="../img/li2.jpg" alt="item-img"></span>
                    <span class="number__item">2</span>
                    <p class="text__item">Через 10 минут достаньте их и обсушите салфеткой</p>
                </li>
                <li class="number-section__item">
                    <span class="img__item"><img src="../img/li3.jpg" alt="item-img"></span>
                    <span class="number__item">3</span>
                    <p class="text__item">Установите виниры на зубы, плотно придавливая руками</p>
                </li>
                <li class="number-section__item">
                    <span class="img__item"><img src="../img/li4.jpg" alt="item-img"></span>
                    <span class="number__item">4</span>
                    <p class="text__item">Очищайте виниры 2 раза в день обычной зубной пастой</p>
                </li>
            </ul>
        </div>
    </div>

</section>