html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    outline: none;
}

body {
    margin: 0;
    font-family: "Cormorant", sans-serif;
    background-color: var(--color-white);
    font-weight: 500;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
}

.is-outer {
    position: relative !important; // stylelint-disable-line declaration-no-important
    left: -9999px !important; // stylelint-disable-line declaration-no-important
}

.site-container {
    overflow: hidden;
}

.is-hidden {
    display: none !important; // stylelint-disable-line declaration-no-important
}

.for-mobile {
    display: none;
    @include mobile {
        display: block;
    }
}

.error {
    border: 2px #ff4019 solid !important; // stylelint-disable-line declaration-no-important
}

.btn-reset {
    border: none;
    background: transparent;
    cursor: pointer;
}

// .visually-hiden {
//     @include visually-hidden;
// }
.container {
    width: 1920px;
    margin: 0 auto;
    padding: 0 60px;
}

.js-focus-visible :focus:not(.focus-visible) {
    outline: none;
}

.main-text {
    font-family: var(--font-ralreg);
    font-size: 14px;
    line-height: 22px;
    color: var(--color-text-title);
}

img {
    width: 100%;
}