// COLORS
:root {
    --color-text-menu: #195557;
    --color-text-title: #70908B;
    --color-text-rose: #FFEDCD;
    --color-green-blue: #E2F0DF;
    --color-blur: #C4C4C4;
    --color-gradient: linear-gradient(90.14deg, #B0D3CE -2.41%, #FFEDCE 99.79%);
    --font-cormo: "Cormorant";
    --font-ralBold: "Raleway";
    --font-ralreg: "Raleway";
}